@import "../../../scss/var";

section {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > div {
    max-width: 1300px;
  }
}

@mixin grid_item_static($column-start, $column-end, $row-start, $row-end) {
  grid-column-start: $column-start;
  grid-column-end: $column-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

@mixin grid_item_dynamic($col_span, $row_span) {
  grid-column: $col_span;
  grid-row: $row_span;
}

.grd-1 {
  width: 100%;
  padding: 1rem 0;
  display: grid;
  justify-content: safe center;
  align-content: safe center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;

  .title {
    @include grid_item_dynamic(span 3, span 1);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    .title {
      @include grid_item_dynamic(span 6, span 1);
    }
  }

  .pos- {
    &0 {
      @include grid_item_dynamic(span 3, span 3);
    }
    &1 {
      @include grid_item_dynamic(span 3, span 6);
    }
    &2 {
      @include grid_item_dynamic(span 3, span 4);
    }
    &3 {
      @include grid_item_dynamic(span 3, span 2);
    }
    &4 {
      @include grid_item_dynamic(span 3, span 2);
    }
    &5 {
      @include grid_item_dynamic(span 3, span 4);
    }
    &6 {
      @include grid_item_dynamic(span 3, span 2);
    }
  }

  .blank {
    display: none;
  }

  .grd-btn {
    grid-column: span 3;
    grid-row: auto;
    padding: 1rem;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(22, 1fr);
    grid-auto-rows: 40px;

    .title {
      @include grid_item_static(1, 8, 1, 3);
    }

    .pos- {
      &0 {
        @include grid_item_static(1, 8, 3, 8);
      }
      &1 {
        @include grid_item_static(8, 17, 1, 8);
      }
      &2 {
        @include grid_item_static(1, 6, 8, 12);
      }
      &3 {
        @include grid_item_static(6, 10, 8, 12);
      }
      &4 {
        @include grid_item_static(4, 10, 12, 16);
      }
      &5 {
        @include grid_item_static(10, 17, 8, 16);
      }
      &6 {
        @include grid_item_static(17, 23, 8, 14);
      }
    }

    .blank {
      display: flex;
      @include grid_item_static(17, 23, 1, 8);
    }

    .grd-btn {
      grid-column: 17 / 23;
      grid-row: auto;
      padding: 1rem;
    }
  }
}

.blank {
  display: none;
  @media screen and (min-width: 1024px) {
    @include grid_item_static(17, 23, 1, 8);
  }
}

.xs {
  @include grid_item_dynamic(span 3, span 2);
}

.md {
  @include grid_item_dynamic(span 3, span 4);
}

.lg {
  @include grid_item_dynamic(span 3, span 6);
}

@media screen and (min-width: 1024px) {
  .xs {
    @include grid_item_dynamic(span 3, span 2);
  }

  .md {
    @include grid_item_dynamic(span 3, span 4);
  }

  .lg {
    @include grid_item_dynamic(span 3, span 6);
  }
}

@media screen and (min-width: 1024px) {
  .xs {
    @include grid_item_dynamic(span 3, span 4);
  }

  .md {
    @include grid_item_dynamic(span 5, span 6);
  }

  .lg {
    @include grid_item_dynamic(span 8, span 8);
  }
}

.card-item {
  > * {
    width: 100%;
  }
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column;
  h2 {
    color: $white;
    width: 100%;
    font-weight: 400;
  }
}

.grd-btn {
  button {
    font-size: 1.15rem;
    padding: 0.25rem 1.25rem;
    border-radius: 1rem;
    background-color: $kisi-blue;
    color: $white;
    transition: ease-in-out 0.3s;
    border: none;
    &:hover {
      cursor: pointer;
      background: $midnight-purple;
      box-shadow: 0 0 0 0.2rem $kisi-blue;
    }
  }
}
